@font-face{
	font-family: pixel;
    src: url(FreePixel.ttf) ;
}
@font-face{
	font-family: pixeled;
    src: url(pixeled.ttf) ;
}

body {
    background-color: #00BFFF;
    background-image: url("fundo.png");
}

button {
    font-family: pixeled;
    font-size: 13px;
    cursor: pointer;
    padding: 2px 2px;
    border-radius: 10px;
    position: absolute;
    right: 150px;
    z-index: 1;
}

.btn {
    font-family: pixeled;
    display: inline-block;
    border: 0;
    text-decoration: none;
    color: #000;
    background: #f8d870;
    box-shadow: 0 4px 0 #885818;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    box-shadow: 3px 3px 0 3px #930;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin-right: 550px;
    margin-top: 12px;
    margin-bottom: 25px;
}

.btn:active {
    box-shadow: 0 0 0 0 #930, inset 4px 4px 4px #930;
    transform: translate(6px, 6px);
}

.about {
    background-color: seashell;
    border-radius: 10px;
    text-align: center;
    height: 900px;
    width: 600px;
    margin-left: 25%;
    font-family: pixel;
    font-size: 22px;
   
}

.logoIF{
    height: 150px;
    width: 400px;
    background-image: url("/ifpe_logo.png");
    background-size: 300px 150px;
    background-repeat: no-repeat;
    margin-left: 25%;
    
}