*{
	box-sizing: 0;
	padding: 0;
	border:0;

}
@font-face{
	font-family: pixeled;
    src: url(pixeled.ttf) ;
}

button {
	
	font-family: pixeled;
	font-size: 13px;
	cursor: pointer;
	padding: 2px 2px;
	border-radius: 10px;
	position: absolute;
	right: 150px;	
	z-index: 1;
}
.btn {
	display: inline-block;
	border: 0;
	text-decoration: none;
	color: #000;
	background: #f8d870;
	box-shadow: 0 4px 0 #885818;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	border-radius: 0.5em;
	box-shadow: 3px 3px 0 3px #930;
	transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.btn:active {
box-shadow: 0 0 0 0 #930,
inset 4px 4px 4px #930;
transform: translate(6px, 6px);
}
.btn2{
	top: 60px;
	display: inline-block;
	border: 0;
	text-decoration: none;
	color: #000;
	background: #f8d870;
	box-shadow: 0 4px 0 #885818;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	border-radius: 0.5em;
	box-shadow: 3px 3px 0 3px #930;
	transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.btn2:active{
	box-shadow: 0 0 0 0 #930,
	inset 4px 4px 4px #930;
	transform: translate(6px, 6px);
}
h1 {
	font-family: pixeled;
	text-align: center;
	color: black;
}

body {
	background-color: #00BFFF;
	background-image:url("fundo.png");
}


.memory-game {
	width: 700px;
	height: 650px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	perspective: 100px;

}


.front-card, .back-card {
	width: 150px;
    height: 150px;
	border-radius: 10px;
	background: transparent;
	padding: 20px;
    position: absolute;
    top: 25%;
    cursor: pointer;
} 

.card {
	width: calc(25% - 10px);
	height: calc(15% - 10px);
	margin: 5px;
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .5s;
	box-shadow: 1px , 1px ,1px rgba(0,0,0,.3);
}

