*{
	box-sizing: 0;
	padding: 0;
	border:0;

}
@font-face{
	font-family: pixeled;
    src: url(../font/pixeled.ttf) ;
}

button {
	
	font-family: pixeled;
	font-size: 13px;
	cursor: pointer;
	padding: 2px 2px;
	background: white;
	border-radius: 10px;
	position: absolute;
	left: 580px;	
	z-index: 1;
}

h1 {
	font-family: pixeled;
	text-align: center;
	color: black;
}

body {
	background-color: #00BFFF;
	background-image:url("../img/fundo.png");
}


.memory-game {
	width: 700px;
	height: 650px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px;

}


.front-card, .back-card {
	width: 150px;
    height: 150px;
	border-radius: 10px;
	background: transparent;
	padding: 20px;
    position: absolute;
    top: 25%;
    cursor: pointer;
} 

.card {
	width: calc(25% - 10px);
	height: calc(15% - 10px);
	margin: 5px;
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .5s;
	box-shadow: 1px , 1px ,1px rgba(0,0,0,.3);
}

