@font-face{
	font-family: pixeled;
    src: url(../font/pixeled.ttf) ;
}

button {
	
	font-family: pixeled;
	font-size: 14px;
	cursor: pointer;
	z-index: 1;
    width: 200px;
    text-align: absolute;
    margin-left:200px;
	margin-top:250px;
    padding: 2px 2px;
    border-radius: 100px;
    background-color: #f8d870;
	box-shadow: 0 4px 0 #885818;

}
body {
	background-color: #00BFFF;
	background-size: cover;
	background-repeat: no-repeat;
	background-image:url("../img/fundo.png");

}

h1 {
	text-align: center;
	font-family: pixeled;

}

