@font-face{
	font-family: pixeled;
    src: url(../font/pixeled.ttf) ;
}

button {
	
	font-family: pixeled;
	font-size: 13px;
	cursor: pointer;
	background: white;
	border-radius: 10px;
	left: 500px;	
	z-index: 1;
	  width: 200px;
    text-align: relative;
        left: 50%;
        top: 50%;
        margin-left:200px;
        margin-top:250px;
    padding: 2px 2px;
    border-radius: 5px;
    background-color: #f8d870;
    box-shadow: #885818;

}
body {
	background-color: #00BFFF;
	background-image:url("../img/fundo.png");
}

